.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.content {
  flex: 1 1 auto;
}

.container {
  padding: 0 20px;
  margin: 0 auto;
  max-width: 1240px;
}

.header {
  padding: 25px 0;
  border-bottom: 1px solid #E5E5E5;
}

.logo__img {
  pointer-events: none;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-item nav {
  margin: 0 94px;
}

.flex-item nav a {
  margin: 0 58px;
  color: inherit;
  transition: all 0.3s ease;
}

.sec__one {
  padding-bottom: 160px;
  position: relative;
}

.sec__one-body {
  margin-top: 104px;
  max-width: 855px;
}

.title {
  font-size: 80px;
  line-height: 88px;
}

.text {
  line-height: 21px;
}

.sec__one-body .text {
  margin-bottom: 40px;
}

.btn {
  width: 100%;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 24px;
  background: #000;
  border: none;
  transition: all 0.3s ease;
}

.btn:hover:not(:disabled) {
  color: #000;
  background: #fff;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
}

.btn:disabled {
  cursor: not-allowed;
  color: #e5e5e5;
  background: #333;

}

.btn__header {
  margin-top: 40px;
  padding: 20px 53px;
  width: 320px;
}

.bg__one {
  position: absolute;
  top: -120px;
  left: 0;
  z-index: -1;
}

.sec__two {
  margin: 120px 0 100px 0;
}

.sec__two .subtitle {
  margin-bottom: 40px;
}

.subtitle {
  font-size: 60px;
  line-height: 70px;
}

.cars {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.car__card {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.car__img {
  transform: scale(1);
  transition: all 0.3s ease;
}

.car__img:hover {
  transform: scale(1.1);
}

.car__card-name {
  margin: 15px 0;
  font-size: 24px;
  line-height: 36px;
}

.car__card-props {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-around;
}

.btn__car {
  height: 54px;
}

.sec__three {
  margin-bottom: 120px;
  position: relative;
}

.form {
  margin: 60px 0 0 0;
  width: 344px;
}

.input,
.form__btn {
  width: 100%;
  height: 65px;
}

.input {
  margin-bottom: 15px;
  padding: 22px 18px;
  border: 1px solid #5D5D5F;
  transition: all 0.3s ease;
}

.input.ng-touched.ng-valid {
  border: 1px solid #5D5D5F;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.input.ng-touched.ng-invalid {
  border: 1px solid rgba(255, 65, 65, 0.74);
  box-shadow: 0 0 10px rgba(255, 65, 65, 0.74);
}

.input:focus,
.input:active {
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.bg__two {
  position: absolute;
  bottom: -122px;
  right: 80px;
  z-index: -1;
}

.footer {
  padding: 25px 0;
  border-top: 1px solid #E5E5E5;
}
